/vendor
/node_modules
/public/build
/public/hot
.env
.phpunit.result.cache
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public
