:80 {
    encode zstd gzip

    handle /healthz {
        respond "ok" 200
    }

    handle {
        root * /srv
        header Cache-Control "no-store, no-cache, must-revalidate"
        file_server
    }
}
